* {
  margin: 0%;
}
body {
  background-color: #fff8f3;
  color: black;
}

header {
  background-color: #e0fbe2;
  color: #059212;
  text-align: center;
  font-size: x-large;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.table1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  font-size: x-large;
  margin-top: 50px;
}
